body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #7d8781;
  font-weight: 300;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

a {  
  text-decoration: none;
  color: #363636;
}

a:active,
a:hover {  
  color: #02bf77; 
}
a:visited{
  color: #505961;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:before, .clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear:both;
}